//============================================
// Global variables
//============================================


// Colors
//============================================

$primary:     #00f;
$black:       #111;

$gray:        #ddd;
$gray-light:  #f7f7f7;
$gray-dark:   #767676;

$color-text:  $black;
$color-bg:    white;


// Dimensions
//============================================

$space:         24px;
$space-half:    $space * 0.5;
$space-quarter: $space * 0.25;


// Typography
//============================================

$font:      "Lato", Helvetica, Arial, sans-serif;
$font-mono: monospace, monospace;
$fs:        16px;
$lh:        ($space / $fs);

$fs-h1: 48px;
$fs-h2: 36px;
$fs-h3: 30px;
$fs-h4: 24px;
$fs-h5: 20px;
$fs-h6: 16px;


// Layout
//============================================

// XS
$layout-gutter-xs: 16px;
$layout-width-xs:  416px;

// SM
$layout-gutter-sm: 20px;
$layout-width-sm:  728px;

// MD
$layout-gutter-md: 22px;
$layout-width-md:  966px;

// LG
$layout-gutter-lg: 30px;
$layout-width-lg:  1290px;


// Breakpoints
//============================================

$bp-xs:       "(min-width: #{$layout-width-xs + ($layout-gutter-xs * 2)})";
$bp-sm:       "(min-width: #{$layout-width-sm + ($layout-gutter-sm * 2)})";
$bp-md:       "(min-width: #{$layout-width-md + ($layout-gutter-md * 2)})";
$bp-lg:       "(min-width: #{$layout-width-lg + ($layout-gutter-lg * 2)})";

$bp-xs-down:  "(max-width: #{($layout-width-xs + ($layout-gutter-xs * 2)) - 1px})";
$bp-sm-down:  "(max-width: #{($layout-width-sm + ($layout-gutter-sm * 2)) - 1px})";
$bp-md-down:  "(max-width: #{($layout-width-md + ($layout-gutter-md * 2)) - 1px})";
$bp-lg-down:  "(max-width: #{($layout-width-lg + ($layout-gutter-lg * 2)) - 1px})";
